body{
    margin: 0;
}

html{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.playerDisplay{
    position: absolute;
    top: 10%;
    left: 30%;
    width: 40%;
    color: #fff;
    z-index: 232;
    font-size: 40px;
}

.playerScore{
    padding: 2rem;
}

#welcome-msg{
    position: absolute;
    top: 30%;
    left: 22.5%;
    z-index: 12231321;
    color: #fff;

}

.full-board{
    background-color: black;
    width: 800px;
    height: 600px;
    position: absolute;
    
}

.game-board{
    background-color: black;
    width: 700px;
    height: 600px;
    position: absolute;
    left: 50px;
}

.player{
    background: white;
    width: 10px;
    height: 100px;
    position: absolute;
}

#ball{
    background-color: white;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 56656565;
}